[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "pybind-example/extern/pybind11"]
	path = pybind-example/extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "silu/CUDA/extern/pybind11"]
	path = silu/CUDA/extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
